.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-box {
  background: white;
  width: 90%;
  max-width: 450px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}

.btn-cancel {
  padding: 8px 14px;
  background: #ddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-send {
  padding: 8px 14px;
  background: #ff416c;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
